body {
    font-family: 'EvolventaRegular', sans-serif;
    font-weight: normal;
    font-style: normal; 
    background-color: #ffffff;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    color: black;
}

@font-face {
    font-family: EvolventaRegular;
    src: url(fonts/Evolventa.ttf);
    src: local(EvolventaRegular), url(fonts/Evolventa.ttf);
}            
@font-face {
    font-family: Franklin;
    src: url(fonts/FranklinGothicMedium.ttf);
    src: local(Franklin), url(fonts/FranklinGothicMedium.ttf);
}            
@font-face {
    font-family: GothamPro;
    src: url(fonts/GothamPro.otf);
    src: local(GothamPro), url(fonts/GothamPro.otf);
}            
@font-face {
    font-family: Muller;
    src: url(fonts/MullerThin.otf);
    src: local(Muller), url(fonts/MullerThin.otf);
}

.navbar-nav {
    margin: auto 0px auto auto;
    font-size: 18px;
}

.site-header {
    min-width: 300px;
    max-width: 1300px;
    margin: 0 auto;
}

.head {
    font-family: 'Muller', sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 18px;
    background-image: url(../img/backgr-head.png);
    background-repeat: no-repeat;
    background-position: center 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.fixed.sticky {
    background-color: rgba(237, 237, 237, 0.9);
}

.logo-brand {
    width: 130px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  
}
.logo-brand.sticky {
    width: 90px; 
}

.navbar-nav {
    font-family: 'GothamPro', sans-serif;
    font-weight: normal;
    font-style: normal; 
}

.nav-link {
    padding: 20px 0 0;
}

.breadcrumb {
    margin-top: 9px;
    padding: .75rem 0rem;
}

.breadcrumb-item.active {
    color: rgba(0,0,0,.9);
}

a {
    color:  rgba(0,0,0,.5);
}
a:hover {
    color: #212529;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.jumbotron {
    min-width: 300px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    padding: 13rem 1rem 0rem 1rem;
}

.rizer {
    min-width: 290px;
    max-width: 620px;
}

.display-3 {
    font-size: 2.5rem;
    font-weight: 800;
    color: rgba(42, 42, 42, 0.9);
}

.paddy {
    padding-top: 5rem;
}

.btn-primary {
    border-color: rgba(83, 83, 83, 0.7);
    border-radius: 50px;
    background: url(../img/backgr_grad.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
    -o-box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
    -moz-box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
}
.btn-primary:hover {
    border-color: rgba(206, 10, 255, 0.4);
}

.btn-lg {
    padding: .5rem 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 800;
}