@media (max-width: 991px) {
    .navbar-nav {
        background-color: rgba(228, 228, 228, 0.9);
        padding: 20px 40px;
        margin: 10px -16px -9px -16px;
    }
}
    
@media (max-width: 600px) {
    .jumbotron {
        min-width: 300px;
        max-width: 1150px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        text-align: center;
    }

    .display-3 {
        font-size: 2rem;
        font-weight: 800;
        color: rgba(42, 42, 42, 0.9);
    }
    
    .font-white-color {
        color: white;
    }

    .paddy {
        padding-top: 1rem;
    }
}

@media (max-width: 575px) {
    .img-why {
        width: 75%;
        padding-bottom: 2rem;
    }
    .img-alig {
        text-align: center;
    }
    .border-white-color-top-only {
        border-top: 1px solid rgba(255, 255, 255, 0.31);
    }
    .first-why-sect {
        text-align: center;
    }
    .border-purpur-color {
        margin-left: auto;    
    }
    .border-white-color-min {
        margin-left: auto;
    }
}

@media (max-width: 566px) {
    .nav-tabs {
    border: none;
    float: none;
    display: inline-block;
    }
}

@media (max-width: 382px) {
    .box-port {
        min-width: 300px;
        margin: 15px auto;
    }
}

@media (max-width: 679px) {
    .mini-size-footer {
        min-width: 300px;
        text-align: center;
        padding: 15px;
        margin: 0 auto;
    }
    .border-left {
        border-left: 1.5px solid rgba(255, 255, 255, 0);
        text-align: center;
    }
    .img-al-footer {
        text-align: center;
    }
}