@media (max-width: 991px) {
    .navbar-nav {
        background-color: rgba(228, 228, 228, 0.9);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 50px rgba(237, 237, 237, 0.9);
        -webkit-box-shadow: 50px rgba(237, 237, 237, 0.9);
        -moz-box-shadow: 50px rgba(237, 237, 237, 0.9);
        -o-box-shadow: 50px rgba(237, 237, 237, 0.9);
    }
}
    
@media (max-width: 600px) {
    .jumbotron {
        min-width: 300px;
        max-width: 1150px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        text-align: center;
    }

    .display-3 {
        font-size: 2rem;
        font-weight: 800;
        color: rgba(42, 42, 42, 0.9);
    }
    
    .font-white-color {
        color: white;
    }

    .paddy {
        padding-top: 1rem;
    }
}

@media (max-width: 575px) {
    .img-why {
        width: 75%;
        padding-bottom: 2rem;
    }
    .img-alig {
        text-align: center;
    }
    .border-white-color-top-only {
        border-top: 1px solid rgba(255, 255, 255, 0.31);
    }
    .first-why-sect {
        text-align: center;
    }
    .border-purpur-color {
        margin-left: auto;    
    }
    .border-white-color-min {
        margin-left: auto;
    }
}